gradio>=5.25.2
hf-xet>=1.0.3
huggingface-hub[hf-xet]>=0.30.2
ipykernel>=6.29.5
kagglehub>=0.3.11
langchain>=0.3.23
langchain-chroma>=0.2.3
langchain-community>=0.3.21
langchain-huggingface>=0.1.2
matplotlib>=3.10.1
numpy>=2.2.4
pandas>=2.2.3
seaborn>=0.13.2
transformers>=4.51.3 